<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text="Accueil"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>
  <figure text-center>
    <img src="assets/img/logo.png" class="logo-top" alt="Boomr Logo"/>
    <p>Listen music, meet, socialize.</p>
  </figure>
  <ion-button
    color="primary"
    expand="block"
    fill="solid"
    shape="round"
    size = "large"
    class="spotify-btn button-block"
    type="submit"
    (click)='authWithSpotify()'>
    Connect with Spotify <img src="assets/img/spotify-logo.svg" alt="Spotify Logo" >
  </ion-button>
  <ion-button
    color="dark"
    expand="block"
    fill="solid"
    shape="round"
    size = "large"
    class="submit-btn button-block"
    type="submit"
    routerLink="/tabs">
    Continue
  </ion-button>

</ion-content>