@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

ion-content{
  --background: linear-gradient(219deg, #f2c419 0%, #ff7767 100%);
}

.black-header{
  background-color: #1c1c1c;
  clip-path: ellipse(72% 96% at 50% 4%);
  z-index:0;

}

ion-toolbar {
  padding-top: 15px;
  border-bottom: none;
  --background: rgba(0, 0, 255, 0);
}


ion-toolbar{
  h3{
    color: #fff;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 500;
    text-align:center;
    padding-bottom: 7px;
  }
  ion-back-button{
    --background:white;
    width:20px;
    padding:5px;
  }
}



h4{
  letter-spacing: 0.5px;
  color: #ffffff;
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.cross{
    --background:white;
    width:30px;
    height: 30px;
    margin-left:30%;
    margin-bottom: 20px;
        ion-icon{
            fill: black;
            width:15px;
        }
}

.chat{
    --background:white;
    width:30px;
    height: 30px;
    object-fit:fill;
    margin-left: 24%;
    margin-bottom: 20px;
}

.avatar{
  margin:0 auto;
  margin-bottom: 5px;
  width:100px;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 5px 6px 6px rgba(0, 0, 0, 0.26);
}


.name-age{
  text-align: center;
  color: #ffffff;
  margin:0px;
  margin-bottom: 3px;

  font-family: 'Lato';

}

.location{
  text-align: center;
  color: #ffffff;
  margin:0px;
  font-family: 'Lato';
  font-size: 12px;
}

ion-label{
  color: #ffffff;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400;

}



ion-item{
  color:#000;
  border-style: none;
  width: 84%;
  padding-left: 8%;
  --highlight-color-focused	:rgba(0, 0, 255, 0);
  margin-bottom: 25px;
}

ion-slides{
  margin:0 auto;
  width:90%;
  z-index: 1;
}

ion-slide{
  margin-left: 7px;

    img{
      margin-bottom: 5px;
      width: 142px;
      object-fit:fill;
    }
}

h5{
  text-align: center;
}