<ion-content>
    <div class="black-header">
      <ion-toolbar>
        <h3>Discover</h3>
        <ion-button slot="end" routerLink="/filter" class="settings" shape="round" size="small" text="">
          <ion-icon src="assets/img/settings-icon.svg"></ion-icon>
        </ion-button>
      </ion-toolbar>

      <ion-avatar class="avatar">
        <img src="assets/img/hanouna.jpg" alt="{{name}}">
      </ion-avatar>


      <h5 class="name-age">{{name}}, {{age}}</h5>
      <h6 class="location">{{ville}}</h6>

      <ion-button class="cross" shape="round" size="small" text="" (click)='launchInfoset()'>
        <ion-icon src="assets/img/cross.svg"></ion-icon>
      </ion-button>
      <ion-button class="chat" shape="round" size="small" text="">
        <ion-icon src="assets/img/chat.svg" color="primary"></ion-icon>
      </ion-button>
    
    </div>
      <h4 start>Favorite musical genres</h4>
    
      <div class="slider-bg">
      <ion-slides class="slider" pager="true">
    
          <ion-slide center>
            <h1><img  src="assets/img/type/genre-{{genreId1}}.png" alt="{{genreId1}}"></h1>
          </ion-slide>
    
          <ion-slide>
            <h1><img  src="assets/img/type/genre-{{genreId2}}.png" alt="{{genreId2}}"></h1>
          </ion-slide>
    
          <ion-slide>
            <h1><img  src="assets/img/type/genre-{{genreId3}}.png" alt="{{genreId3}}"></h1>
          </ion-slide>
    
      </ion-slides>
      </div>
    
      <h4 text-wrap>Favorite music</h4>
    
      <div class="slider-bg">
      <ion-slides class="slider" pager="true" >
    
        <ion-slide>
          <h1><img  src="assets/img/music/metallica.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/music/mask-off.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
    </ion-slides>
  </div>
</ion-content>
