<ion-content>


    <div class="black-header">
      <ion-toolbar>
        <h3>Discover</h3>
      </ion-toolbar>
    
      <ion-button class="cross" shape="round" size="small" text="">
        <ion-icon src="assets/img/cross.svg"></ion-icon>
      </ion-button>
      <ion-button class="chat" shape="round" size="small" text="">
        <ion-icon src="assets/img/chat.svg" color="primary"></ion-icon>
      </ion-button>

      <ion-avatar class="avatar">
        <img src="assets/img/hanouna.jpg" alt="Cyril">
      </ion-avatar>

      
    
      <h5 class="name-age">Cyril, 44</h5>
      <h6 class="location">Paris</h6>
    
    </div>
      <h4 start>Favorite musical genres</h4>
    
      <ion-slides class="slider" pager="true" [options]="slideOpts">
    
          <ion-slide center>
            <h5><img  src="assets/img/type/Metal.png" alt="Metal"></h5>
          </ion-slide>
    
          <ion-slide>
            <h5><img  src="assets/img/type/Rock.png" alt="Rock"></h5>
          </ion-slide>
    
          <ion-slide>
            <h5><img  src="assets/img/type/Jazz.png" alt="Jazz"></h5>
          </ion-slide>
    
      </ion-slides>
    
      <h4 text-wrap>Favorite music</h4>
    
      <ion-slides class="slider" pager="true" >
    
        <ion-slide>
          <h1><img  src="assets/img/music/metallica.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/music/mask-off.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
        <ion-slide>
          <h1><img  src="assets/img/rock-image.png" alt="rock-image"></h1>
        </ion-slide>
    
    </ion-slides>
    
    
</ion-content>
